<form method="post" asp-controller="Teams" asp-action="Add">

    <input class="form-control form-control-lg" type="text" placeholder="Team Name" name="teamName">
    <p>
        <button type="submit" class="btn btn-success">Save Team</button>
    </p>

</form>